<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
<%- include('../../fragments/header.ejs') %>

<main>
    <script src="/js/validationCommon.js"></script>
    <script src="/js/validationEmploymentForm.js"></script>
    <h2>
        Zatrudnienie
    </h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="_id" value="<%= employment._id %>">

        <label for="firstName">Imię: <span class="symbol-required">*</span></label>
        <select id="emp_id" name="emp_id" required <%= (formMode == 'showDetails' ) ? 'disabled' : '' %> >

            <% if (formMode != 'edit' ){ %>
                <option value="" selected="selected">--Wybierz pracownika--</option>
            <% } %>

            <% for (let i = 0; i < allEmps.length; i++) {let emp = allEmps[i]; %>
            <option value="<%= emp._id %>" label="<%= emp.firstName + ' ' + emp.lastName %>"
                    <%= (employment._id && emp._id.toString() == employment.employee._id.toString()) ? 'selected' : '' %>>
            </option>
            <% } %>

        </select>
        <label for="name">Departament: <span class="symbol-required">*</span></label>
        <select id="dept_id" name="dept_id" required <%= (formMode == 'showDetails' ) ? 'disabled' : '' %> >

            <% if (formMode != 'edit' ){ %>
                <option value="" selected="selected">--Wybierz departament--</option>
            <% } %>

            <% for (let i = 0; i < allDepts.length; i++) {let dept = allDepts[i]; %>
            <option value="<%= dept._id %>" label="<%= dept.name %>"
                    <%= (employment._id && dept._id.toString() == employment.department._id.toString()) ? 'selected' : '' %>>
            </option>
            <% } %>
        </select>

        <label for="Start">Start:<span class="symbol-required">*</span></label>
        <input type="date" name="dateFrom" id="dateFrom"
               value="<%= (formMode == 'createNew') ? '' : employment.dateFrom.toISOString().split('T')[0]  %>"
                <%= (formMode == 'showDetails' ) ? 'disabled' : '' %> />
        <span id="errorStart"></span>

        <label for="Finish">Koniec: <span class="symbol-required">*</span></label>
        <input type="Date" name="dateTo" id="dateTo"
               value="<%= (formMode == 'createNew') ? '' : employment.dateTo.toISOString().split('T')[0] %> %>"
                <%= (formMode == 'showDetails' ) ? 'disabled' : '' %> />
        <span id="errorFinish"></span>

        <label for="salary">Wynagrodzenie: </label>
        <input type="text" name="salary" id="salary"
               value="<%= (formMode == 'createNew') ? '' : employment.salary  %>"
                <%= (formMode == 'showDetails' ) ? 'disabled' : '' %> />
        <span id="errorSalary"></span>




        <span id="errorsSummary"></span>

        <% if (formMode == 'showDetails') { %>
        <div>
            <a class="list-actions-button-edit" href="/employments/edit/<%= employment._id %>">Edytuj</a>
        </div>
        <% } %>

        <div>
            <p id="errorsSummary" class="errors-text"></p>

            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" />
            <a class="form-button-cancel" href="/employments">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/employments">Powrót</a>
            <% } %>
        </div>

    </form>


</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>


</body>
</html>


