<%- include('../../fragments/header.ejs') %>
<main>
        <h2>Zatrudnienia</h2>
          <table class="table-list" >
            <thead>
            <tr>
                <th>Pracownik</th>
                <th>Departament</th>
                <th>Akcje</th>
            </tr>
            </thead>
              <tbody>

              <% for (let emplmt of employment) { %>

                  <tr>

                      <td><%= emplmt.employee.firstName  + ' ' +  emplmt.employee.lastName %></td>
                      <td><%= emplmt.department.deptName %></td>


                      <td>
                          <ul class="list-actions">
                              <li>
                                  <a href="/employments/details/<%=emplmt._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                              </li>
                              <li>
                                  <a href="/employments/edit/<%=emplmt._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                              </li>
                              <li>
                                  <a href="/employments/delete/<%=emplmt._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                              </li>
                          </ul>
                      </td>
                  </tr>
              <% } %>


              </tbody>
          </table>
        <p>
            <% if(loggedUser) { %>
    <p><a href="employments/add" class="button-add"><%= __('list.actions.add') %></a>
    </p>
    <% } %>
            <a href="/" class="form-button-submit">Powrót</a>

        </p>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>

</body>
</html>


