<!-- <%- include('../../fragments/header.ejs') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP1</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <%- include('../../fragments/header.ejs') %>
<main>
    <h2>
        Lista pracownikow
    </h2>
    <table class="table-list">
        <thead>
            <th><%= __('emp.fields.firstName') %></th>
            <th><%= __('emp.fields.lastName') %></th>
            <th><%= __('emp.fields.email') %></th>
            <th><%= __('emp.fields.actions') %></th>
        </thead>

        <tbody>

        <% for (let emp of emps) { %>
        <tr>
           <th><%- emp.firstName %></th>
           <th><%- emp.lastName %></th>
           <th><%- emp.email %></th>

            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/employees/details/<%=emp._id%>" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/employees/edit/<%=emp._id%>" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="/employees/delete/<%=emp._id%>"class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <% } %>


        </tbody>
    </table>

    <p>
        <% if(loggedUser) { %>
            <p><a href="/employees/add" class="button-add">Dodaj nowego pracownika</a></p>
        <% } %>
    </p>

</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>

</body>
<!--<script>-->
<!--    window.setMobileTable("table")-->
<!--</script>-->
</html>


