<%- include('../../fragments/header.ejs') %>
<main>
        <h2>
           <%= __('dept.list.pageTitle') %>
        </h2>

        <table class="table-list">
            <thead>
            <tr>
            <th><%= __('dept.fields.deptName') %></th>
            <th><%= __('dept.fields.budget') %></th>
            <th><%= __('list.actions.title') %></th>
            </tr>

            </thead>

            <tbody>

            <% for (let dept of depts) { %>

            <tr>
            <th><%- dept.deptName %></th>
            <th><%- dept.budget %></th>

                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/departments/details/<%=dept._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                        </li>
                        <li>
                            <a href="/departments/edit/<%=dept._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a  href="/departments/delete/<%=dept._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>
                    </ul>
            </tr>
            <% } %>
            </tbody>
        </table>

        <p>
            <% if(loggedUser) { %>
    <p><a href="/departments/add" class="button-add"><%= __('list.actions.add') %></a></p>
    <% } %>
        </p>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>



</body>
</html>


